extends layout
block content

  h1 Pay Per Click Advertising Direct Marketing
  //-
    - tell how google wants searcher to keep using google for search
    - how google makes money when search clicks on ad, not by impression
    - how to get better QualityScore and rank higher adwords.
    - explain long tail
    - how people search, three keywords more better
    - click on three links serp1, when not found, refine keyword, start over. 
    - screenshot example long tail keyword to show bids
    - update site with blogs for organic search (seo)
    - choose your customer > connect: tell them why they should be interested > complete, then close.

  p &nbsp;
  p &nbsp;
  //p Most businesses that run pay per click advertising focus too much on keywords, getting top rank and how much it costs to bid for them (CPC). 
  //p They forget that PPC advertising, Search Engine Marketing, or whatever they choose to call it, is still about advertising. Effective advertising IS salesmanship. As a business, you advertise to get more customers--building brands is a side-effect.
  //p Small business owners cannot--and should not advertise the way big business do using general advertising. With millions of dollars in their marketing budget, they can afford that, you can't.

  p If you need help getting more customers for your business, 
    a(href=' https://www.odesk.com/users/%7E019caad4e75ad4122f' target='new') Click here.
  //p.text-muted 
    | All rights reserved.
