extends layout
block content
  h1 About
  p My opinion is that most businesses that run PPC advertising focus too much on keywords and how much it costs to bid for them. 
  p They forget that PPC advertising, Search Engine Marketing and all its permutations are still advertising. Effective advertising IS salesmanship. As a business, you advertise to get more customers--not to build brands.
  p If you run a small business, you do cannot advertise the way big business does using brand advertising. They can afford that, you can't.
  p I started this blog to keep notes on my experience and test results from running adwords campaigns.

  //p.text-muted 
  p &nbsp;
    | Need help getting more customers for your business? 
    a(href=' https://www.odesk.com/users/%7E019caad4e75ad4122f' target='new') Click here.
  //p.text-muted 
    | All rights reserved.
  p
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

  p Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

  p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.

  p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
