extends layout
block content

  h1 Pay Per Click Advertising + Direct Marketing
  //-
    - tell how google wants searcher to keep using google for search
    - how google makes money when search clicks on ad, not by impression
    - how to get better QualityScore and rank higher adwords.
    - explain long tail
    - how people search, three keywords more better
    - click on three links serp1, when not found, refine keyword, start over. 
    - screenshot example long tail keyword to show bids
    - update site with blogs for organic search (seo)
    - choose your customer > connect: tell them why they should be interested > complete, then close.

  p Most businesses that run pay per click advertising focus too much on keywords and how much it costs to bid for them (CPC). 
  p Don't forget that PPC advertising, Search Engine Marketing, or whatever your business calls it, is still about advertising. Effective advertising IS salesmanship. As a business, you advertise to get more customers--not to build brands.
  p If you run a small business, you cannot advertise the way big business do using brand advertising. They can afford that, you can't.
  p I started this blog to keep notes on my experience and test results from running adwords campaigns.

  p Need help getting more customers for your business? 
    a(href=' https://www.odesk.com/users/%7E019caad4e75ad4122f' target='new') Click here.
  //p.text-muted 
    | All rights reserved.
