extends layout
block content

  h1 Jim Syyap & Company




  //-
    - DON't Preach. Talk about your experience and insights gained.
    - tell how google wants searcher to keep using google for search
    - how google makes money when search clicks on ad, not by impression
    - how to get better QualityScore and rank higher adwords.
    - explain long tail
    - how people search, three keywords more better
    - click on three links serp1, when not found, refine keyword, start over. 
    - screenshot example long tail keyword to show bids
    - update site with blogs for organic search (seo)
    - choose your customer > connect: tell them why they should be interested > complete, then close.
    SERVICES OFFERED
      Digital Marketing Solutions:
      // for the price of one employee, we do all these for you...
      * Website management - development and design
      * content marketing
      * copywriting for new products
      * pay per click campaign

  p &nbsp;
  p &nbsp;
