extends layout
block content

  h1 Keyword and Landing Page Analysis
  p &nbsp;
  p Case Example: I am a small business owner based in Auckland, New Zealand looking for help to advertise my business on google. The keywords that I used for search is "adwords auckland".
  p Below is the first ad that comes up on search results:
  p &nbsp;

  a(href='http://i.imgur.com/w5jXKcB.png' target='new')
    img(alt='screenshot of search result' src='http://i.imgur.com/w5jXKcB.png' width='500' height='250')

  p &nbsp;
  p &nbsp;
  h3 How relevant was the ad?
  p Two keywords stand-out immediately, "adwords auckland". These two words match the keywords that I used for search. 
  p The complete headline is "Adwords Auckland - Getting Poor Results?".
  p It motivates me to click on the ad to get more information from their website. Here's the landing page, above the fold.
  p &nbsp;

  a(href='http://i.imgur.com/yiOvYUz.png' target='new')
    img(alt='screenshot of advertiser, above the fold' src='http://i.imgur.com/yiOvYUz.png' width='500' height='250')

  p &nbsp;
  p &nbsp;
  p The landing page expands from the "adwords auckland" keywords, giving me information that might help. On the navigation tab, they have links to services that might interest me like web design, SEO, advertising, etc.
  p The landing page copy says something about the company and how they can help with my needs.
  p On the right hand side of their website, they show testimonials. This helps to put me at ease knowing that someone else has done business with them. 

  h3 Improve Quality Score
  p Everything that's happening above the fold works towards getting me to stay on their site. I am getting the information that I was looking for. There are links that drill into more relevant information that I could look into.
  p All this contributes towards improving the advertiser's Adwords Quality Score. Better Quality Score equals lower CPC in the future.

  h3 What Can We Learn From This?
  ul
    li Make your keywords relevant to that of the searcher.
    li On your ad, point out the relevant benefit or solution that you offer.
    li On your landing page, pick up and expand from the message that you gave on your ad.
    li Above the fold, provide links and more information that will keep the searcher engaged.

  h3 What If...
  p Now, what if I were the advertiser/service-provider and not in that top ad slot--what do I have to do to get pole position? More importantly, how can I win this searcher and make them my customer?
  p In a nutshell, build a better mousetrap.

  h3 Search Habits
  p Statistically, search habits show that people tend to go back to the search results page to see if there's something better for them.
  p In this case, they probably bookmarked that first ad provider, went back and googled those same keywords (adwords auckland). They will most likely click on the other ads, or click on the the links on the organic search results.

  h3 Ad Rank
  p Getting pole position with adwords may take some time. That advertiser you want to unseat has better standing with the adwords algorithm. They probably have better Quality Scores than you do right now.
  p It's not hopeless. You can still get pole position if you keep testing and improving on your copy.
  p Give relevant information. Provide engaging content. Make it easy for them to find the solution to their problem. What you want to happen is for them to consider you as a better alternative than the ones they have already seen.

  h3 Convert Traffic Into Customers
  p To win that searcher's business, you don't need pole position. You only need better copy. Don't go overboard hard-selling that prospect on your website. People get turned off by that. They might become suspicious about your offer, leaving your website. 
  p To get them to close with you, use what we marketers call "loss leader price strategy". Give them an offer they can't refuse, even if it means you will not make any profit from this one transaction. 
  p You want them to feel delighted doing business with you making them want to do business with you again. Repeat business--that's the secret to growing your business in this economy.
  //p better copy
  //p present information video 
  //p better site design
  //p how to's
  //p run ads on variations to those keywords
