extends layout
block content

  h1 Keyword and Landing Page Analysis
  p &nbsp;
  p I am a small business owner based in Auckland, New Zealand looking for help to advertise my business on google. The keywords that I used for search is "adwords auckland".
  p Below is the first ad that comes up on search results:
  p &nbsp;

  a(href='http://i.imgur.com/w5jXKcB.png' target='new')
    img(alt='screenshot of search result' src='http://i.imgur.com/w5jXKcB.png' width='500' height='250')

  p &nbsp;
  p &nbsp;
  h3 How relevant was the ad?
  p Two keywords stand-out immediately, "adwords auckland". These two words match the keywords that I used for search. 
  p The complete headline is "Adwords Auckland - Getting Poor Results?".
  p It motivates me to click on the ad to get more information from their website. Here's the landing page, above the fold.
  p &nbsp;

  a(href='http://i.imgur.com/yiOvYUz.png' target='new')
    img(alt='screenshot of advertiser, above the fold' src='http://i.imgur.com/yiOvYUz.png' width='500' height='250')

  p &nbsp;
  p &nbsp;
  p The landing page expands from the "adwords auckland" keywords, giving me information that might help. On the navigation tab, they have links to services that might interest me like web design, SEO, advertising, etc.
  p The landing page copy says something about the company and how they can help with my needs.
  p On the right hand side of their website, they show testimonials. This helps to put me at ease knowing that someone else has done business with them. 

  h3 Improve Quality Score
  p Everything that's happening above the fold works towards getting me to stay on their site. I am getting the information that I was looking for. There are links that drill into more relevant information that I could look into.
  p All this contributes towards improving the advertiser's Adwords Quality Score. Better Quality Score equals lower CPC in the future.

  h3 What Can We Learn From This?
  ul
    li Make your keywords relevant to that of the searcher.
    li On your ad, point out the benefit or solution that you offer.
    li On your landing page, pick up and expand from the message that you gave on your ad.
    li Above the fold, provide links and more information that will keep the searcher engaged.

