extends layout
block content

  h1 Jim Syyap Bucket List
  ul
    li Finish the 2015 Auckland Marathon
    li 10 clients Jim Syyap & Company
    li Bike tour, NZ North to South island
    li Bike Amsterdam
    li Brothers to NZ
    li Santillans to NZ
    li Visit Philippines
    li Bike tour Samar/Leyte
    li Touch a whale
    li Autumn 2016 Bashar

