extends layout
block content

  h1 Get Customers, Sign Up For Membership
  p &nbsp;
  blockquote
    p Hi Jim!
    p Our website is a movie streaming service where users pay a monthly fee to stream movies. Can you helps us drive traffic and bring customers to "websitename".com?
    p &nbsp;

  h2 My Observations
  p Here is a screenshot of the streaming movie website, at the time I wrote this...
  p &nbsp;
  a(href='http://i.imgur.com/7kN4SOy.png')
    img.center(alt='screenshot above the scroll streaming hd movie website' src='http://i.imgur.com/7kN4SOy.png' height=400 width=600)
  p &nbsp;
  h3 Landing Page Analysis
  p I will keep my analysis to your landing page (index.html), and above the scroll. "Above the scroll" refers to the portion of your website that is visible without scrolling.
  ul
    li I think there's too much space wasted above the scroll. Your navigation bar should be smaller by making that square container box fit its content.
    li Use the space that you free up with sales copy--tell them why they should sign up, show them the benefits of membership, etc.
    li If you can't give them an advantage, why should they sign up with you? Why not compare your service with your competitors, highlight the advantages that you offer?
    li Your service is relatively new. Focus more on getting people to sign up on your landing page. After you have them convinced on the benefits of membership will they begin to look around your site.

  h3 Recommendations for AdWords Campaign:
  p I already have a subscription on Netflix and Huluplus. Why should I sign up for membership at $12.99 a month for a newcomer?
  p The answer to that question is what you should highlight in your campaign. That is your unique selling proposition (USP), and is going to be the theme of your campaign.
  ul
    li Determine which keywords your target audience will use to find what you offer.
    li Craft an ad that will address what they are looking for, and highlight your USP.
    li On your landing page, continue with the message or solution that you offered in your ad.
    li Tell them why they should be interested, giving sufficient proof to support every claim that you make.
    li Tell them how to sign up--give them an offer they will find hard to refuse.
    li Get them to sign up now.


  //-
    h3 AdWords Campaign Management
    // search result 'stream hd movies'  http://i.imgur.com/0pmxzaw.png
    // keyword planner 'stream', 'hd', 'movies'  http://i.imgur.com/oKXXS2t.png
    // keywords stream +hd +movie  http://i.imgur.com/CVVrNpi.png
    p create search-relevant ad
    p landing page copy to convert

    // screenshot above scroll  http://i.imgur.com/p1lmteg.png
    //-
      observations:
      - no copy why should i join?
      - too much space wasted above the scroll
      - best copy they have?  http://i.imgur.com/Uze7pHn.png
      - this hook was buried at the bottom  http://i.imgur.com/yHl449h.png
      - how good is ultrahd? hd in youtube videos is at 4K 2160. If you have slow connection, the video will stop to load up. backed by google, youtube probably has enough servers to accommodate the traffic. Show why your site can do the same.
      - less members equals less traffic, better streaming?
      - Concerns about being able to stream quality - To get the highest quality Netflix experience in Ultra HD 4K, we recommend available bandwidth of at least 20Mbps. This provides enough throughput for the stream, which is about 16Mbps, plus headroom for service variability. And speaking of variability, there are many things that can affect the data throughput to a specific device on your home network. One of those variables is how a broadband provider chooses to handle incoming bits from Netflix. Any broadband provider that’s directly connected to Netflix will deliver a better experience, especially during primetime. 

      questions:
      - target market?
      - keywords used - searcher?
      - keywords used - advertiser?
      - benchmark stats adwords?
