extends layout
block content
  p &nbsp;
  h1 Jim Syyap & Company
  p &nbsp;

  p If you need help getting more customers for your business, 
    a(href=' https://www.odesk.com/users/%7E019caad4e75ad4122f' target='new') Click here.
  //ul
    li gmail: jimsyyap
    li mobile: +6420.4018.9009
    li http://convertMost.com
