extends layout
block content

  h1 Basics of a Successful Crowdfunding Campaign
  p &nbsp;

  //-
    + use this as sales funnel to sell crowdfunding pdf
    + what to cover:
      * how to write copy to influence and motivate to respond
      * what are their (investors) motivation?
