extends layout
block content

  h1 Welcome!

  h2 Table of Contets
  ul
    li Oct. 16, 2014 - 
      a(href='adhesion') Adwords Example: Adwords + Auckland
    li Oct. 14, 2014 - 
      a(href='usedcardealer') Marketing Campaign For Used Car Dealer
