extends layout
block content

  h1 Pay Per Click Advertising: How To Get More Customers When You Can't Outbid Or Outrank Your Competition
  
  p &nbsp;

  h2 Table of Contents
  ul
    li
      a(href='cinema') Generate Traffic, Get Customers To Sign Up For Membership
    //li
      a(href='oct18seo') Can You Get Top Rank with Good Copywriting?
    li  
      a(href='adhesion') Adwords Example: Adwords Auckland
    li 
      a(href='usedcardealer') Marketing Campaign For Used Car Dealer
