extends layout
block content

  h1 Adwords for Small Business Owners

  h2 Table of Contents
  ul
    li  
      a(href='adhesion') Adwords Example: Adwords Auckland
    li 
      a(href='usedcardealer') Marketing Campaign For Used Car Dealer
