extends layout
block content

  h1 How To Market A CrowdFunding Campaign

  p &nbsp;

  //-
    blockquote
      p My Kickstarter Campaign is launching next week (Hopefully Monday - 3rd of November) and I'm looking for an individual who is very capable of boosting my campaigns exposure.

      p Here is the preview of my campaign (still some small things to edit):  https://www.kickstarter.com/projects/366876429/535074747?token=01157fb4

      p Ideally I would like to work with someone who has previous experience of promoting crowdfunding campaigns or someone who has previous experience of promoting brands/products, who is looking to get into crowdfunding marketing.

      p I have sent out a lot of emails over the last few weeks to various bloggers in different niches but to no avail. I think I have only 2 websites that are interested in writing an article on my product/campaign so far, despite having a unique product (in the tech/gadget niche).

      p I am therefore looking for an individual who can comfortably pitch bloggers and writers/editors of publication websites, and successfully manage to convince them to write about my product/campaign.

      p I am asking for £6000 with my Kickstarter campaign. I feel comfortable that I could get 25-50% of that with the work I have done so far but with Kickstarter it's win or lose, so I need to reach the '100% successfully funded'.

      p Everything is pretty much ready for launch, so it's just a case of hitting those bloggers with pitches and getting them to write about my product/campaign so I can drive the traffic to my campaign once it launches.
