doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Jim Syyap')
    meta(name='description', content='pay per click advertising, auckland, new zealand, direct marketing, copywriting, google adwords')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/modernizr-2.6.2.min.js')
    //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    #page
      header.container
        //navbar goes here

      #body.container
          //main content goes here
          #main.row
            block content

            p &nbsp;
            p &nbsp;
            p &nbsp;
            p &nbsp;

      hr
      footer.container
        p.text-muted 
          | <strong>Jim Syyap Direct Marketing</strong>, Auckland, New Zealand
        p.text-muted 
          | Need help getting more customers for your business? 
          a(href=' https://www.odesk.com/users/%7E019caad4e75ad4122f' target='new') Click here.
        p.text-muted 
          | All rights reserved.
        // do i need social links here?

    // Placed at the end of the document so the pages load faster 
    // jquery has to be first. some scripts need jquery to work.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // if google jquery cdn is not available, use this fallback
    script
      window.jQuery || document.write('<script src="javascript/vendor/jquery-1.10.2.min.js"> <\\/script>')
    script(src='/javascripts/main.js')
    script(src='/javascripts/plugins.js')
