#wrap
  p.text-muted Jim Syyap Direct Marketing
  ul#nav
    li
      a(href='#') About Us
    li
      a(href='#') Something
    //li
      a(href='#') FAQs
    li
      a(href='#') Contact
    //li
      a(href='#') Login
