extends layout
block content

  h1= title
  p &nbsp;
  p It's just my opinion, but here is a good example as to how a effective  layout plus persuasive copywriting will almost always trump expensive website design. 
  p Let me show you what I mean...

  h3 Two brands, same market
  p. 
    Media Temple's website came up on my radar after I read an <a href="http://bit.ly/y7MW3F", target="new"> article from The Daily Egg</a>. This article was about a critique made by 13 of the "best" design and marketing experts. 
  p This was how Media Temple's landing page looked like soon after I read that article (click on the image to enlarge)...
  p &nbsp;

  center
    a(href="http://i.imgur.com/3wadiVT.png" target="new")
      img(alt='Media Temple screenshot' height="292" src="http://i.imgur.com/3wadiVT.png" width="400")

  p &nbsp;

  p At the time that I wrote this, Media Temple is a website hosting and cloud services provider, which focuses on web designers and developers.

  p Now, take a look at the landing page of one of their leading competitors, hostgator.com (click on the image to enlarge)...

  p &nbsp;

  center
    a(href=' http://i.imgur.com/zZeO5P5.png' target='new')
      img(alt='hostgator.com screenshot' height='292' src=' http://i.imgur.com/zZeO5P5.png' width='400')

  p &nbsp;

  h3 Let the market decide
  ul
    li Mediatemple.net's global traffic rank: 2,944 (alexa.com)
    li HostGator.com's global traffic rank: 244 (alexa.com)
  p Looking at both site's landing pages, you can tell that hostgator gives you a lot of reasons to choose their brand. Media temple's landing page is all about soundbytes. They sound good, but doesn't sell.

  h3 This is not selling
  p &nbsp;
  center
    a(href='http://i.imgur.com/kLkefO7.png' target='new')
      img(alt='screenshot of mediatemple tag-line' src='http://i.imgur.com/kLkefO7.png' height='292' width='500')
  p &nbsp;

  p The tag-line on media temple's site goes on to say--
  blockquote
    em 
      Media Temple hosts websites. Big and Small. For years, we have taken complex technology and simplified it for the everyday web site owner. Our products are designed to be powerful, affordable and relevant. Please take a look around, perhaps (mt) is a good choice for your next project.

  p That message still doesn't tell me any benefit. It's a good example of poor copywriting. It doesn't sell. They said it was powerful--how powerful? Give me some statistics. The tag-line said theirs was affordable. How affordable? They mentioned something about being relevant. Why is it relevant? 
  p Compare mt's tag-line to the copy on hostgator's landing pagee. 

  p &nbsp;

  center
    a(href=' http://i.imgur.com/zZeO5P5.png' target='new')
      img(alt='hostgator.com screenshot' height='292' src=' http://i.imgur.com/zZeO5P5.png' width='400')

  p &nbsp;

  p Can you see why you hostgator ranks higher, and is more popular with web developers than media temple?

  h3 Always closing
  p On hostgator, almost everything you need to know to make a decision is right smack in front of you. Is it affordable? Yes--starts from $3.96/month. In media temple, they only mention affordable on the tagline. You need to be specific when you make a claim. How affordable is it? If you can't support your claim, don't use it.
  p Hostgator drills down and shows you how much it will cost you for their other services such as reseller hosting, vpn hosting and dedicated servers--right on the landing page. With media temple, you have to look around to find that information.

  h3 One last thing
  p Right in the middle of its landing page, hostgator gives you a CTA (call-to-action) button: "View web hosting plans." From a car salesman's perspective, this is called a test close (I used to work in sales). It is a technique used to get the prospect involved with the product. When someone clicks on that button, it's one step closer to getting a new customer.

  h3 In Summary
  p To get more customers for your business, both user interface design and copywriting has to work hand in hand. You come up with a good sales copy first, then design has to work around that message.

  p &nbsp;
  h3 PS
  p Media Temple made changes to their website. It's very different from the landing page I mentioned above. There has been a bit of an improvement, but still, they are still lagging behind hostgator as a webhosting platform provider.
