extends layout
block content
  
  h1 (DRAFT COPY) Tight Budget--how to get more customers using adwords?
  p &nbsp;
  p I ran a search for the keywords "pay per click auckland" to see who the top advertisers were on adwords. Here's the top dog, plus a screenshot of their landing page:
  p &ndsp;

  a(href='http://i.imgur.com/gimPxNf.png' target='new')
    img(alt='screenshot of top ad on google search results ad' src='http://i.imgur.com/gimPxNf.png' width='550' height='300')
    //how to add photo caption here?

  p &nbsp;
  a(href='http://i.imgur.com/wd7PsGt.png' target='new')
    img(alt='screenshot of top advertiser landing page' src='http://i.imgur.com/wd7PsGt.png' width='550' height='300')
    //how to add photo caption here?

  p &nbsp;
  p The question is, can I knock these sites from the top spot with good copywriting?
  p It's possible, but it won't happen overnight. What I can do is to use people's search habits to my advantage. How?
  p Take a look at how you search. You type your keywords, then pick one or three from the search results and see if you can find what you need from them. This means you don't have to rank number one for those keywords, you only have to get your ad in page one. Once you are in there with the big boys, you get attention with how you craft your ad.

  p Take a look at their ad copy, landing page copy and how they convert.
  p Landing page copy like these tells me that people will go back to the search page and click on another link. It doesn't go into detali as to how they can help me with pay per click advertising. It's all claims, which i find in almost all the other sites that i've been to.

  p does it matter if you have top spot?

  //-
    i don't have a big budget for an adwords campaign right now. what i do have is good copywriting.
    some businesses think that you need a lot of money to get good results from advertising. of course you need a good product or service to advertise. next step is writing sales copy. not everyone has that, or know where to find one.
    headline is ok, but not great.
    big image above the fold. they'd do better if that were a video, better yet, good copy telling about benefits of what they can do.
    mostly claim. better to make claim, then give proof.
    beyond atf(above the fold, they give definition of terms. i think it is better to give more details about what you can do for them.
    i think most agencies pay too much attention to keywords and how much they can bid for them. ppc is advertising. advertising is salesmanship. 
    and to think that these people are into marketing. just imagine other businesses that are clueless about good advertising.
