extends layout
block content
  h1 How To Get An Unfair But Legal Advantage When Listing And Selling Real Estate

  p &nbsp;

  p I found this flyer in our mailbox this morning. As a marketing tool, flyers sends your message across in an instant. You can tell that this couple spent on this as the flyer is in color, and the paper is glossy. 
  
  p (Click on the image to enlarge)

  p &nbsp;

  a(href='http://i.imgur.com/YiFSwqB.png' target='new')
    img.center(alt='Real Estate Agent Listing Flyer' src='http://i.imgur.com/YiFSwqB.png' height=450 width=300)

  p &nbsp;

  p If I too were a real estate agent, here's how I will market myself using Direct Mail:
  ul
    li Point out why the area is in demand and how prices can go up in the near future if the trend persists.
    li Show how it is to their advantage to list their property with me.
    li Give facts about market trends and the economy, and why they should consider selling now
    li Pay per click advertising - Dramatize the fact that more than 90 percent of the population has access to broadband.
  h3 What The Competition Is Doing
  p When I ran a search for the keywords "Sell House North Shore", this is what I got...
  p (Click on the image to enlarge)

  p &nbsp;
  a(href='http://i.imgur.com/sKZ5McG.png' target='new')
    img(alt='Search Result Sell House North Shore' src='http://i.imgur.com/sKZ5McG.png' height=650 width=600)
  p &nbsp;
  blockquote
    | You might get different search results.

  p &nbsp;
  p This search results page tells me that the real estate agents above were not aware about geo-targetting in google adwords, or their google ad failed to rank well. 
  p If the real estate agent were to allocate a part of their marketing budget for pay per click advertising, they could double their sales immediately. But there are three things to consider--your audience, offer and creative.
  p Targetting by geographic location in google adwords, sending Direct Mail to a particular neighborhood will take care of getting the right audience. Your message will reach only those you want.
  p Real estate agents do not have a say on how they can structure their offer. They have a fixed fee that their brokerage will charge their customers. What else can they do to make their offer more appealing? Maybe they can highlight some of the things they do behind the scenes. others may be offering the same thing but fail to mention them.
  p Creative - copywriting. testing.
  // give example that jared cooksley website
