extends layout
block content

h1 Terms and conditions of business

h2 Jim Syyap Direct Marketing as ‘Jim Syyap’ (‘Jim Syyap’)

h3 Proposals

p Jim Syyap produces price estimates and brief proposals free of charge, as well as providing consultancy on choice of format and medium, commercial publication and so on. Consultancy is provided in good faith based on our knowledge of your needs and the marketing and publications solutions within our specific area of expertise. We cannot accept liability of any kind for actions that client businesses take, or refrain from taking, as a result of acting on our advice.

p If the project is very large or complex, or work is required in order to clarify its scope and timescale, we may ask that the creation of the proposal be regarded as a chargeable task in itself, to be invoiced separately from the main project if you decide not to proceed.

h3 Extra work

p We reserve the right to make additional charges in some situations, for example:
ul
  li Changes: Reasonable changes (affecting up to 20% of the text) are included as part of the charge for writing text. Changes that affect over 20% of the text, or substantively change an agreed structure or running order, may be charged extra.
  li Resubmissions: The charge for editing supplied text may be re-applied if you supply a new version that supersedes a version previously understood to be final
  li Unused/deleted material: No cost reduction is applicable in the event that you delete, request that we delete or decide not to use text that we have created as previously agreed.

h3 Dates and timelines

p If proposals include information on dates and timing, clients should bear in mind that if particular dates are missed, it may not be possible to meet the time commitments given later on in the timeline.

p Also, please note that it may not necessarily be possible that the entire timeline be ‘moved back’ by a given number of days, as it may depend on the availability or workflow of third parties. The timings of weekends and holidays can also have an impact, for example if approval to print is given on a Friday rather than a Thursday. We will provide up-to-date information on timings as projects progress.

h3 Purchase orders

p Before beginning work on your project we will require a purchase order of some kind from you. This can be a formal document if your organisation uses them, or simply an email confirming the scope of the work and fee.

p In the situation where the agreed fee has been ‘used up’ without the work as detailed in our proposal being completed, we reserve the right to cease work and wait for a further purchase order before continuing.

h3 GST

p All prices are shown exclusive of GST. In most cases, printing costs do not attract GST; we will advise you of the position on your individual project as soon as it becomes clear.

h3 Terms of trade for printing

p Printing will be arranged by Jim Syyap and provided by a third party. This third party will contact you directly to arrange their terms of trade. These terms typically include the payment of a 50% deposit on the first assignment they carry out for you.

h3 Invoicing

p On completion of the work we will submit an invoice to you for the agreed amount. We will not submit an invoice that differs from our estimate without prior agreement.

p On larger projects we may request the right to invoice monthly, or at agreed project milestones.

p Our terms for payment of invoices are 30 days from date of invoice.

h3 Copyright and imprint

p Copyright in all published content (such as text and designs produced on your behalf) will pass to you on payment of your invoice, with the exception of licensed materials such as photography, which remain the property of the licensor and subject to their terms and conditions.

p Please note that under UK law, all printed materials must bear the imprint (name and address) of the publisher, which in the case of Jim Syyap projects is the client rather than Jim Syyap.

p You accept all responsibility for any copyright issues arising from the publication of content produced by us that summarises, rephrases or otherwise refers to third-party sources at your request and as part of the agreed assignment.

h3 Fair dealing

p Notwithstanding the above clauses on copyright and imprints, unless explicitly agreed otherwise or explicitly requested by you, by commissioning us you grant us permission to:
ul
  li refer to you on our website as a client
  li describe the work we have done for you on our website
  li quote the text we have written for you on our website
  li include representations of any designs produced as part of the work on our site
  li include an appropriate credit in printed or online publications produced on your behalf.

p Copyright held in your published materials or trademarks will be acknowledged.

h3 Colour disclaimer

p During design and print projects we will provide proofs of design projects either as laser printouts or PDF files that can be viewed on screen. It is important to bear in mind that neither offers a reliable indication of final printed colour balance. However, the final proof produced just before printing will reflect colour balance accurately.

h3 Content disclaimer

p Although Jim Syyap will make every effort to avoid errors, omissions, misrepresentations, inaccurate implications and other inaccuracies in the content of publications that we manage, the final responsibility for published material remains with the client.

p We cannot accept responsibility or liability of any kind for any loss or damage, whether material, financial, commercial or reputational, that you incur as a result of your choosing to publish materials that we have worked on.

p For print projects, we will require a written sign-off from you before carrying out printing, confirming that the content shown in a PDF proof is approved. This can be supplied in the form of an email confirming (for example) that a specific PDF file is accurate and satisfactory
