extends layout
block content
  h1= title
  p &nbsp;
  a(href='http://i.imgur.com/8JgnCjt.png')
    img(alt='Used Car Dealer Question', height='520', width='520', src='http://i.imgur.com/8JgnCjt.png', )
  blockquote 
    em This came up on my radar with my morning coffee.
  p
  h3 Marketing Strategy - My Recommendations
  ul
    li Get rid of that advertising software. You don't need it.
    li Start an adwords campaign
    li Target B2B using direct mail
    li Social media marketing

  h3 Advertising Software
  p What in the world is that?
  p Imagine, software that writes advertising (*me shakes head)
  p My forte is advertising copy. I decided to teach myself web development starting a few years back. To this day, I can only do the basics. The point here is that it takes 10,000 hours to become good at something--copywriting or software development. Unless these software developers have a winning copywriter consulting with them, I don't think that that software is going to create money-making ads for you.

  h3 Adwords campaign
  p People these days tend to google things that they consider buying--at least I do, specially for big ticket items. People know they have more options and want to know what they are. 
  p This is why advertising with google adwords is effective. Everytime your prospects look up your keyword or phrase, your ad will show up with the organic search results. A fine-tuned adwords campaign will generate a considerable amount of traffic for your business within days. 

  p Put yourself in your prospect's head and come up with keywords that you can use for the campaign. Off the top of my head, I'd test "used cars your-location". If a certain brand of car is trending in the market, you can also add that to your keyword testing.

  p I am using the words "test" and "testing" because that's what you'll be doing. There is no one holy grail for doing ad campaigns. Markets are different. You have to find something that works for you.

  h3 Direct Mail
  p Use direct mail to target the business around you. There are entrepreneurs out there that may need vehicles for their trade. You can position yourself as that business that has transportation solutions for them. 

  p Like your adwords campaign, you may have to test your direct mail to see which copy/offer combinations will bring in more business.

  h3 Social Media Marketing
  p Get yourself a website and start a blog. On your landing page, don't sell anything. Instead, offer content that people will find useful that's related to used cars. On your blog, write about new inventory and what you honestly think of it.
  p Remember--your intention is to gain their trust. If you want to be successful in today's economy, you want people coming back to do business with you. You can't have that if you are always selling to their face.

  p ...and you don't have to put your business on cars.com. That's an added expense for you that might not be profitable. As you said, your competitors are also in that site. Why go head to head with them? Concentrate on your adwords campaign and direct mail. You have more control over these allowing you to improve your campaign--and bring in more profits over time.

  h3 What about Facebook ads, you might ask?
  p Facebook ads tend to be more expensive as an advertising medium compared to goodle adwords. Start off with these three that I mentioned above to build up your customer base. Soon as your cash flow is on cruise-control, you can run tests with Facebook ads and see if you can get more juice out of it.

  p Happy hunting!
  p &nbsp;

  h4 PS
  p If you do happen to sell used cars, or own a dealership and need a more detailed marketing plan, check back here after a week. I will write up a marketing plan, complete with to-do lists and step by step instructions. 
  p Cheers!
