@import "bootstrap.min.css"
@import "bootstrap-theme.min.css"

body
  margin-right: auto
  margin-left: auto
  max-width: 600px
  font-family: Verdana

main
  padding-top: 20px

a
  color: #0000FF

blockquote
  color: #666666

h1 
  text-align: center 

h2, h3 
  font-size: 1.1em
  font-weight: bold

img.centered
  display: block
  margin: 0 auto
  //margin-left: auto
  //margin-right: auto
