@import "bootstrap.min.css"
@import "bootstrap-theme.min.css"

body
  margin-right: auto
  margin-left: auto
  max-width: 600px

main
  padding-top: 20px

a
  color: #0000FF

blockquote
  color: #666666

h1 
  font-size: 1.6em
  font-weight: bold

h2, h3 
  font-size: 1.1em
  font-weight: bold
